.cartWidget-container{
    display: flex;
    justify-content: right;
}

.cartWidget{
    display: flex;
    background-color: none;
    padding: 10px;
    height: 40px;
    width: 40px;
      
}

.cartWidget:hover{
    cursor: pointer;    
}

.open{
    display: block;
    height: 500px;
    width: 250px;
    border: black solid 1px;
}

.close{
    
}