.cartWidget-container{
    display: flex;
    justify-content: right;
}

.cartWidget{
    display: inline-block;
    background-color: none;
    padding: 10px;
    height: 40px;
    width: 40px;
      
}

.cartWidget:hover{
    cursor: pointer;    
}

.widgetCart{
    display: none;
}


.open{
    position: absolute;
    top: 50px;
    right: 25%;
    display: block; 
    border: black solid 1px;
}

